<div class="dashboard">
  <div class="top list">
    <div class="selectedList"
         (click)="showList = !showList">
      {{selectedPlaylist?.title}}
    </div>
    <div class="dropdown-container"
         *ngIf="showList && playlists != null && playlists != undefined">
      <div *ngFor="let list of playlists"
           (click)="selectItem(list)">
        <div class="playlist"
             *ngIf="list != selectedPlaylist">
          <div class="playlist--item">
            {{list?.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="videos"
  *ngIf="videos != null && videos != undefined">
    <div class="videos--item"
         *ngFor="let video of videos">
      <aula [value]="video"></aula>
    </div>
  </div>
</div>