.menu ul li {
	margin: 0; 
    padding: 0px;
	border-bottom: 1px solid #CCC;
	text-align: center;
	list-style-type: none;
}

.menu a:link {
    color: rgb(21, 21, 21);
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 7px;
}

ul {
    padding: 0px;
    align-items: center;
}

a {
    background: rgb(99, 97, 97);

}