.menu ul li {
	margin: 0; 
    padding: 0px;
	border-bottom: 1px solid #CCC;
	text-align: center;
	list-style-type: none;
}

.menu a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 7px;
}

ul {
    padding: 0px;
    align-items: center;
}