my-textinput {
  margin: 15px;
  display: block;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 21vh;
  margin: 21vh auto;
  text-align: center;
  width: 90%;
  max-width: 450px;
}

mat-form-field {
  margin: 10px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
