.menu-conteudo {
    width: 42px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(151, 151, 151), rgb(255, 255, 255), rgb(151, 151, 151));
    margin: 0px;
    height: calc(100vh - 40px);
    padding: 0px;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.menu {
    width: 100%;

}

.menu-conteudo:hover {
    width: 250px;
}
